.sidebar {
    flex: 0.2;
    position: sticky;
    top: 80px;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    padding-left: 120px;
    padding-top: 20px;
}

.sidebar_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    width: 250px;

}

.sidebar_top>img {
    width: 100%;
    margin-bottom: -20px;
    height: 80px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar_top>h4 {
    color: gray;
    font-size: 12px;
}

.sidebar_top>h2 {
    font-size: 18px;
}

.sidebar_stats {
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 0 0 10px 10px;
    padding-bottom: 20px;

}

.sidebar_stat {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar_stat>p {
    color: gray;
    font-size: 13px;
    font-weight: 600;
}

.sidebar_statNumber {
    font-weight: bold;
    color: #2775B1 !important;
}

.sidebar_bottom {
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.sidebar_bottom>p {
    font-size: 13px;
    padding-bottom: 10px;
}

.sidebar_recentItem {
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}

.sidebar_recentItem:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    border-radius: 10px;
}

.sidebar_hash {
    margin: 0 10px;
}